<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Chat Service (^o^)</title>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
</head>
<style>
    .chat-log-div {
        border-bottom: solid 1px black;
        background-color: #e8fffc;
        font-size: x-large;
    }

    .chat-log {
        display: inline-block;
    }

    .submit-button {
        margin-left: 30px;
        height: 40px;
        width: 120px;
        background-color: #ffddca;
    }

    #chat-text {
        height: 50px;
        width: 500px;
        font-size: x-large;
    }
</style>
<body>

<h1 style="border-bottom: solid black">Chat Service (^o^)</h1>

<div style="border-bottom: solid black">
    <label for="chat-text">
<!--        TODO: エンターのときも-->
        <input id="chat-text" onkeypress="onKeyPress(event.keyCode);" type="text" name="chatText" value="">
    </label>
    <input class="submit-button" onclick="clickSubmitBtn()" type="button" value="送信する">
</div>

<table>
    <div class="chat-log-div" th:each="chatLogResponse: ${chatLogResponses}" th:object="${chatLogResponse}">

        <p class="chat-log" th:text="*{userName}"></p>
        <p class="chat-log">： </p>
        <p class="chat-log" th:text="*{chatLog.message}"></p>
        <div style="text-align: right">
            <p class="chat-log" th:text="*{chatLog.chattedAt}"></p>
        </div>
    </div>
</table>
<script th:inline="javascript">
    function clickSubmitBtn() {
        let el = document.getElementById('chat-text');
        el.setAttribute("disabled", "disabled");
        let text = el.value;
        if (text === "") {
            window.alert("テキストを入力してください");
            return null;
        }
        let xhr = new XMLHttpRequest();
        let url = "/form/new";
        xhr.open('POST', url, true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send("message=" + text);
        xhr.onload = () => {
            el.removeAttribute("disabled");
            el.value = "";
            //TODO: 暫定
            location.reload();
        };
    }
    <!--        TODO: エンターのときも-->
    function onKeyPress(e) {
        if (e.keyCode === '13') clickSubmitBtn();
    }
</script>
</body>
</html>