<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Chat Service (^o^)</title>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
</head>
<style>
    .chat-log-div {
        border-bottom: solid 1px black;
        background-color: #e8fffc;
        font-size: x-large;
    }

    .chat-log {
        display: inline-block;
    }
</style>
<body>

<h1 style="border-bottom: solid black">Chat Service (^o^)</h1>


<table>
    <div class="chat-log-div" th:each="chatLogResponse: ${chatLogResponses}" th:object="${chatLogResponse}">

        <p class="chat-log" th:text="*{userName}"></p>
        <p class="chat-log">： </p>
        <p class="chat-log" th:text="*{chatLog.message}"></p>
        <div style="text-align: right">
            <p class="chat-log" th:text="*{chatLog.chattedAt}"></p>
        </div>
    </div>
</table>
</body>
</html>